@import url(./fonts.css);
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
} 
.container{
    max-width: 1140px;  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
    text-align: center;
}
.orange{
    background: orangered;
    color: white;
}
.black{
    background: #222;
    color: #fff;
}

.calculator{
    flex-wrap: wrap;
    max-width: 200px;
    display: grid;
    margin: auto;
}
.calc_input{
    height: 50px;
    width: 210px;
    border-radius: 20px;
    border: 2px solid grey;
    margin: 10px;
    resize: none;
    outline: none;
    text-align: end;
    font-size: 40px;
    color: #222;
    font-family: "notosans";
    padding-bottom: 5px;
}
button{
    width: 50px;
    height: 50px;
    background: grey;
    border-radius: 25px;
    border: none;
    color: #ccc;
    font-size: 25px;
    margin: 1px 1px 3px 1px;
}
.effect{
    width: 105px;
    padding: 0px 50px 0px 0px;
}